.hide {
    display: none;
}

.introBtn{
    background-color: red;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 30px;
    width: 600px;
    font-size: 50px;
    height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nextBtn{
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 30px;
    width: 600px;
    font-size: 50px;
    margin-bottom: 30px;
}

.backBtn{
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.jumbotron{
    background: url(images/imma-jumbotron2.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    height: 400px;
    padding-top: 120px;
    }

.hero-text{
    background: rgba(0,0,0, .6);
    border-radius: 30px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 5px purple;
    color: yellow;
    margin: auto;
    margin-top: -100px;
}

.hero-text2{
    background: rgba(0,0,0, 0.6);
    border-radius: 30px;
    font-weight: 900 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 5px purple;
    color: yellow;
    margin: auto;
    margin-top: 230px;
}


.currentQuestion{
    font-size: 30px;
    text-align: center;
}

.img-container {
    margin: 5px auto;
  }

  img {
    width: 200px;
    height: 200px;
    margin: 1%;
    cursor: pointer;
    border-radius: 5px;
  }

  .center{
      margin-left: 25px;
  }

  .column{
      margin-bottom: 15px;
  }