.hide {
    display: none;
}

.introBtn{
    background-color: red;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 30px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron{
background: url(imma-jumbotron.jpg) no-repeat;
background-size: cover;
background-position: top;
text-align: center;
height: 400px;
padding-top: 120px;
}

.hero-text{
    background: rgba(76, 175, 80, 0.3);
    border-radius: 30px;
    font-weight: 900 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 5px yellow;
    color: purple;
    margin: auto;
}


.currentQuestion{
    font-size: 30px;
    text-align: center;
}

#nextBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    font-size: 50px;
    border-radius: 30px;
}